h5{
  font-family: 'Ultra', serif;
  color:white;
}
.new{
  font-family: 'Ultra', serif;
}
body{
  background-color:lightgrey;
}
.color{
  background-color:grey;
}
.padding{
  padding-bottom: 100px
}
.spacing{
  text-align: center;
}
